body{
    display: flex;
    border-style: dashed;
    border-radius: 15px;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background: url("img/world.png");
    background-attachment: scroll;
    background-size: contain;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 25vw;
}

.item {
    border-style: dashed;
    border-radius: 10px;
    text-align: center;
    margin: 0.5em;
    width: 90px;
    height: 90px;
    background-color: #F3FCF0;
}

p, h1 {
    font-family: "Comic Sans MS";
    color: #1F271B;
}